<table border="1">
  <tr>
    <% @codes.in_groups_of(50) do |codes| %>
      <td>
        <% codes.each do |code| %>
          <%= code %><br>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
