<table border="1">
  <tr>
    <th>1~50</th>
    <th>51~100</th>
    <th>101~150</th>
    <th>151~200</th>
  </tr>
  <tr>
    <% @company_codes.in_groups_of(50) do |codes| %>
      <td>
        <% codes.each do |code| %>
          <%= code %><br>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
